
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Matthieu Lux</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="index.css" rel="stylesheet" />

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <!--<link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">-->


  </head>

  <body data-spy="scroll" data-target=".subnav" data-offset="50">

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <img src="img/logo-zenika.png" />
        <h1>Matthieu Lux</h1>
        <p>Je suis consultant Zenika dans les technologies du monde Java EE et du Web.</p>
        <p>Cette page a pour but de me présenter et de centraliser toutes les références me concernant.</p>
      </div>

      <div class="subnav">
  	    <ul class="nav nav-pills">
  	      <li><a href="#contacts">Contacts</a></li>
  	      <li><a href="#pubs">Publications</a></li>
  	      <li><a href="#os">Open Source</a></li>
  	      <li><a href="#bio">Biographie</a></li>
          <li><a href="#about">A propos</a></li>
  	    </ul>
      </div>

      <section id="contacts">
        <div class="row">
          <div class="span12">
            <div class="page-header">
              <h1>Contacts <small>Toutes les références sociales</small></h1>  
            </div>
            <table class="table table-bordered table-condensed">
              <tr>
                <th colspan="3">Les actifs</th>
              </tr>
              <tr>
                <th><img src="img/contacts/logo-gmail.png" /></th>
                <td><a href="mailto:">matthieu dot lux at gmail dot com</a></td>
                <td>Encore aujourd'hui le meilleur moyen de me contacter</td>
              </tr>
              <tr>
                <th><img src="img/contacts/logo-gmail.png" /></th>
                <td><a href="mailto:">matthieu dot lux at zenika dot com</a></td>
                <td>Et la version pro</td>
              </tr>
              <tr>
                <th><img src="img/contacts/logo-twitter.png" /></th>
                <td><a href="https://twitter.com/Swiip" target="_blank">@Swiip</a></td>
                <td>J'y publie au jour le jour les humeurs d'un développeur</td>
              </tr>
              <tr>
                <th><img src="img/contacts/logo-github.png" /></th>
                <td><a href="https://github.com/Swiip" target="_blank">Swiip</a></td>
                <td>J'y publie toutes mes sources</td>
              </tr>
              <tr>
                <th><img src="img/contacts/logo-rss.png" /></th>
                <td><a href="http://pipes.yahoo.com/swiip/articles" target="_blank">Articles</a></td>
                <td>Je n'ai pas de blogs peronnel mais ce flux rassemble les articles que je publie</td>
              </tr>
              <tr>
                <th><img src="img/contacts/logo-viadeo.png" /></th>
                <td><a href="http://www.viadeo.com/profile/0021ifs5qqflshmz/fr" target="_blank">Matthieu Lux</a></td>
                <td>J'y tiens à jour mon parcours</td>
              </tr>
              <tr>
                <th><img src="img/contacts/logo-slideshare.png" /></th>
                <td><a href="http://fr.slideshare.net/Swiip" target="_blank">Présentations</a></td>
                <td>Très récent, j'espère y publier de nombreuses présentations</td>
              </tr>
              <tr>
                <th colspan="3">Les moins actifs</th>
              </tr>
              <tr>
                <th><img src="img/contacts/logo-facebook.png" /></th>
                <td><a href="https://www.facebook.com/matthieu.lux.9" target="_blank">Matthieu Lux</a></td>
                <td>L'incontournable</td>
              </tr>
              <tr>
                <th><img src="img/contacts/logo-linkedin.png" /></th>
                <td><a href="http://www.linkedin.com/profile/view?id=27741395&trk=tab_pro" target="_blank">Matthieu Lux</a></td>
                <td>Je l'utilise très peu</td>
              </tr>
              <tr>
                <th><img src="img/contacts/logo-bitbucket.png" /></th>
                <td><a href="https://bitbucket.org/Swiip" target="_blank">Swiip</td>
                <td>Ayant utilisé Mercurial avant Git, il me reste des ressources sur Bitbucket</td>
              </tr>
              <tr>
                <th><img src="img/contacts/logo-googleplus.png" /></th>
                <td><a href="https://plus.google.com/u/0/114267295816087906296/posts" target="_blank">Matthieu Lux</td>
                <td>Je l'utilise très peu</td>
              </tr>
            </table>
          </div>
        </div>
      </section>

      <section id="pubs">
        <div class="row">
          <div class="span12">
            <div class="page-header">
              <h1>Publications <small>Twitter, articles et présentations</small></h1>  
            </div>
          </div>
        </div>
        <div class="row">
          <div class="span6">
            <a class="twitter-timeline" href="https://twitter.com/Swiip" data-widget-id="265756314507026432">Tweets by @Swiip</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

            <div class="tweets">
              <script id="twitter-template" type="text/x-undrescore-tmpl">
                <table class="table">
                  <tr><th colspan="2">Twitter</th></tr>
                  <% _.each(data, function(tweet) { %>
                    <tr>
                      <td><img src="<%= tweet.user.profile_image_url %>"></td>
                      <td><%= tweet.text %></td>
                    </tr>
                  <% }); %>
                </table>
              </script>
            </div>
            <table class="table">
              <tr><th colspan="2">SlideShare</th></tr>
              <tr>
                <td><iframe src="http://fr.slideshare.net/slideshow/embed_code/14932296?rel=0" width="512" height="421" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="http://fr.slideshare.net/Swiip/jquery-mobile-phonegap-14932296" title="jQuery Mobile &amp; PhoneGap" target="_blank">jQuery Mobile &amp; PhoneGap</a> </strong> from <strong><a href="http://fr.slideshare.net/Swiip" target="_blank">Swiip</a></strong> </div></td>
              </tr>
            </table>
          </div>
          <div class="span6 feed">
            <script id="feed-template" type="text/x-undrescore-tmpl">
              <table class="table">
                <tr><th>Articles</th></tr>
                <% _.each(data, function(article) { %>
                  <tr><td>
                    <h3><a href="<%= article.link%>"><%= article.title%></a> <small><%= article.pubDate%></small></h3>
                    <p><%= article.description%></p>
                  </td></tr>
                <% }); %>
              </table>
            </script>
          </div>
        </div>
      </section>

      <section id="os">
        <div class="row">
          <div class="span12">
            <div class="page-header">
              <h1>Open Source <small>Mes contributions</small></h1>  
            </div>
          </div>
        </div>
        <div class="row">
          <div class="span4">
            <img src="img/os/logo-lyonjs.png"/>
            <h2>LyonJS</h2>
            <p>Site : <a href="http://lyonjs.org" target="_blank">http://lyonjs.org</a></p>
            <p>Twitter : <a href="https://twitter.com/LyonJS" target="_blank">@LyonJS</a></p>
            <p>Présentation : <a href="http://fr.slideshare.net/Swiip/jquery-mobile-phonegap-14932296" target="_blank">http://fr.slideshare.net/Swiip/jquery-mobile-phonegap-14932296</a></p>
            <p>Si ce n'est pas un projet de développement Open Source, il s'agit sans aucun doute d'une implication dans une communauté Open Source car depuis la rentrée 2012 je m'investit dans l'organisation du LyonJS, le "User Group" lyonnais pour le JavaScript</p>
            <p>Je m'y suis investit d'abord de façon très importante en assurant organisation et présentation pour la réunion du mois d'octobre 2012 avec les sujets jQuery Mobile et PhoneGap et depuis je reste investit au niveau de l'organisation notament par l'annimation du compte Twitter <a href="https://twitter.com/LyonJS" target="_blank">@LyonJS</a></p>
          </div>
          <div class="span4">
            <img src="img/os/logo-spring.png"/>
            <h2>Template Spring MVC</h2>
            <p>Sources : <a href="https://github.com/Swiip/jquery-springmvc-jpa" target="_blank">https://github.com/Swiip/jquery-springmvc-jpa</a></p>
            <p>Il s'agit d'un repository GitHub dans lequel j'essaie de maintenir le plus à jour possible un projet dont la seule règle est de présenter les données d'une base de données avec un serveur Java et une interface Web.</p>
            <p>Le but est de maintenir ce besoin récurent dans mon métier et de faire évoluer les technologies permettant d'y parvenir afin de toujours proposer la meilleur implémentation à un moment donnée.</p>
            <p>Aujourd'hui, l'implémentation choisie met en oeuvre les technologies JPA 2, Spring MVC, Spring Data Rest, jQuery et Backbone JS.</p>
          </div>
          <div class="span4">
            <img src="img/os/logo-genesia.png"/>
            <h2>Genesia</h2>
            <p>Site communautaire Drupal 7 : <a href="http://melserv.org/genesia/" target="_blank">http://melserv.org/genesia/</a></p>
            <p>Genesia sur CloudFoundry : <a href="http://genesia.cloudfoundry.com/" target="_blank">http://genesia.cloudfoundry.com/</a></p>
            <p>Sources : seront bientôt publié sur GitHub</p>
            <p>Genesia est un projet un peu particulier dans cette liste puisqu'il n'a pas été pensé dans un premier temps pour être Open Source mais plutôt une initiative personnelle dans le cadre de ma passion pour le jeu de rôle.</p>
            <p>Il s'agit donc d'un développement de type serveur Web Java dans le but de créer un jeu de rôle où les joueurs incarnent un personnage, passent des ordres sur le sites et échangent entre eux.</p>
            <p>Si ce projet apparait dans cette liste, c'est parce qu'il a finit par devenir un projet important pour moi puisqu'il est la mise en pratique de toutes mes préconisations de développement Web Java, sans contraintes professionnelles.</p>
            <p>Genesia est lié au projet Template Spring MVC puisqu'il met en oeuvre à l'échelle le template.</p>
            <p>Malgré un nombre de lignes de code conséquent, Genesia en tant que jeu n'est pas encore opérationnel</p>
          </div>
        </div>
        <div class="row">
          <div class="span4">
            <img src="img/bio/logo-archetype.png"/>
            <h2>Archetype JavaScript Framework</h2>
            <p>Sources : <a href="https://bitbucket.org/Swiip/archetype-javascript-framework" target="_blank">https://bitbucket.org/Swiip/archetype-javascript-framework</a></p>
            <p>Archetype est un projet Open Source que j'ai lancé avec Florian Traverse en 2007.</p>
            <p>Si le projet est mort aujourd'hui, son objectif est toujours d'actualité : créer un Framework pour le développement d'interface Web en JavaScript qui gère principalement les problématiques d'organisation des chargements des fichiers de l'application Web (JS, CSS, Templates) ainsi que la mise en place d'une structure de composant d'interface respectant les principes du MVC.</p>
            <p>Cet objectif était à l'époque très avant gardiste, je peux le dire aujourd'hui sans complexe puisque ces objectifs sont aujourd'hui toujours d'actualités pour les nouveaux frameworks JavaScript. Nous avons eu des succès et quelques publications et même un contributeur externe. Malheureusement, le projet n'est jamais allé plus loin. J'analyse aujourd'hui cette perte de vitesse par un manque de communication et de clarté de l'API.</p>
            <p>S'il fallait définir aujourd'hui Archetype avec les Frameworks JavaScript existant aujourd'hui, Archetype tendait à apporter la richesse des frameworks RequireJS avec le chargement des dépendances et son compilateur et BackboneJS pour la structure MVC de l'interface Web.</p>
            <p>A posteriori, cette experience reste très enrichissante car j'ai la satisfaction de me dire que plusieurs années en avance nos objectifs étaient les bons et l'experience d'avoir développé, communiqué et avoir vécu la gestion d'un projet Open Source.</p>
          </div>
          <div class="span4">
            <img src="img/os/logo-websocket.png"/>
            <h2>WebSocket en pratique</h2>
            <p>Blog : <a href="http://blog.zenika.com/index.php?post/2012/06/22/Les-WebSockets-en-pratique" target="_blank">http://blog.zenika.com/index.php?post/2012/06/22/Les-WebSockets-en-pratique</a></p>
            <p>Sources : <a href="https://github.com/Swiip/hello-twitter" target="_blank">https://github.com/Swiip/hello-twitter</a></p>
            <p>Par curiausité personnelle et dans le cadre de la rédaction d'un article de blog, j'ai réalisé une implémentation comparative d'une application mettant en oeuvre les WebSockets.</p>
          </div>
          <div class="span4">
            <img src="img/os/logo-jquerymobile.png"/>
            <img src="img/os/logo-phonegap.png"/>
            <h2>Shared Whiteboard</h2>
            <p>Blog : à venir</p>
            <p>Sources : <a href="https://github.com/Swiip/shared-whiteboard" target="_blank">https://github.com/Swiip/shared-whiteboard</a></p>
            <p>Présentation : <a href="http://fr.slideshare.net/Swiip/jquery-mobile-phonegap-14932296" target="_blank">http://fr.slideshare.net/Swiip/jquery-mobile-phonegap-14932296</a></p>
            <p>D'abord une initiative de projet mettant en oeuvre les technologies jQuery Mobile et PhoneGap, j'y ai rapidement ajouté les composantes WebSocket, HTML 5 SVG et MongoDB pour finalement avoir un petit projet mais très complet.</p>
            <p>Ce projet a servi d'application de démonstration pour ma présentation, lors du LyonJS, des outils jQuery Mobile et PhoneGap.</p>
            <p>Je compte également en tirer un article de blog en prenant l'approche de la création d'un service "Cloud". Car au final c'est ce qui est apparu avec ce projet : un service hébergé dans cloud répondant aux normes du cloud : accessibilité multi plateforme, persistances dans le cloud, échange entre les utilisateurs.</p>
          </div>
        </div>
        <div class="row">
          <div class="span4">
            <img src="img/os/logo-maven.png"/>
            <h2>Documentation Maven</h2>
            <p>Site : <a href="http://matthieu-lux.developpez.com/tutoriels/java/maven/" target="_blank">http://matthieu-lux.developpez.com/tutoriels/java/maven/</a></p>
            <p>Réalisé il y a quelque temps maintenant, il s'agit d'une documentation complète de l'outil de build Maven 2.</p>
            <p>J'y ai compilé les explications des concepts, la description des principales options et des conseils de mise en pratique</p>
            <p>La publication de cette documentation via le site <a href="developpez.com">http://developpez.com</a> a été une grande réussite en terme de diffusion et la documentation sert toujours à la communauté francophone même si elle commence à dater</p>
          </div>
          <div class="span4">
            <img src="img/os/logo-lutece.png"/>
            <h2>Lutece</h2>
            <p>Mise en oeuvre : <a href="http://france.meteofrance.com/" target="_blank">http://france.meteofrance.com/</a></p>
            <p>Sources : <a href="http://dev.lutece.paris.fr/viewvc/lutece/contribs/atoswordline/trunk/" target="_blank">http://dev.lutece.paris.fr/viewvc/lutece/...</a></p>
            <p>Dans le cadre de mon intervention importante sur la version actuelle du site Web de Météo France, nous avons utilisé le Portail / CMS Open Source Lutece développé par la mairie de Paris.</p>
            <p>Suite aux besoins assez particulier en terme de performances du site de Météo France, j'ai été ammené à réaliser des évolutions sur le coeur même de la solution Lutece. Avec l'accord de mon entreprise (Atos WorldLine), j'ai pu reverser les évolutions apportées au projet.</p>
            <p>Mon activité professionnelle ne m'a plus permis depuis de travailler dans le domaine des CMS Java mais j'espere que la communauté a pu tirer partie des évolutions.</p>
          </div>
          <div class="span4">
            <img src="img/os/logo-gifteer.jpg"/>
            <h2>Gifteer</h2>
            <p>Site : Le site a malheureusement fermé ses portes récemment</p>
            <p>Ce projet ne devrait pas réellement apparaitre dans ce chapitre car les sources sont privées. Toutefois c'est une réalisation assez importante à base de téchnologie Open Source que je trouve donc intéressant de citer.</p>
            <p>Gifteer a pour but de proposer un service Web gratuit permettant aux utilisateurs de publier ses envies cadeaux et de consulter celles des autres. Le projet a été mené à plusieurs (4 puis 5) et j'ai tenu le rôle de développeur principal. Le site n'a jamais vraiment décollé et j'ai aujourd'hui quitté l'aventure.</p>
            <p>Le site est construit sur une architecture très standard côté serveur : Spring / JPA et quelque chose de moins courant côté client : interface tout en JavaScript construit à partir de mon propre framework Archetype</p>
          </div>
        </div>
      </section>

      <section id="bio">
        <div class="row">
          <div class="span12">
            <div class="page-header">
              <h1>Biographie <small>Le traditionel CV</small></h1>  
            </div>
          </div>
        </div>
        <div class="row">
          <div class="span12">
            <table class="table table-bordered">
              <tr>
                <th><img alt="Zenika" src="img/logo-zenika.png"/></th>
                <th><h2>Consultant JEE / Web</h2></th>
              </tr>
              <tr>
                <td>Depuis Mai 2012</td>
                <td>
                  <p>Mission de développement d'une application de <a href="http://fr.wikipedia.org/wiki/Gestion_de_maintenance_assist%C3%A9e_par_ordinateur">GMAO</a> en GWT ainsi que sa déclination mobile pour tablette Android pour une PME qui travail dans la fourniture d'équipement électronique public : panneau d'information voyageurs, pilotages de feux tricolores.</p>
                  <ul>
                    <li>Recueil du besoin</li>
                    <li>Définition de l'architecture</li>
                    <li>Développement, tests et déploiement</li>
                    <li>Développement mobile</li>
                  </ul>
                  <p>Technologies : Java EE, Spring, JPA, Hibernate, GWT, Android, IntelliJ Idea, Eclipse, Maven, Glassfish.</p>
                </td>
              </tr>
              <tr>
                <td>Avril et Mai 2012</td>
                <td>
                  <img src="img/bio/logo-elasticsearch.png"/>
                  <p>Création de l'offre de formation elastisearch de Zenika (<a href="http://www.zenika.com/formation_elasticsearch.html">http://www.zenika.com/formation_elasticsearch.html</a>)</p>
                  <ul>
                    <li>Réalisation des slides de formation</li>
                    <li>Construction des TPs</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <th><img alt="Sword Group" src="img/bio/logo-sword.png"/></th>
                <th><h2>Architecte / Expert / Chef de projet</h2></th>
              </tr>
              <tr>
                <td>Septembre 2011 à Mars 2012</td>
                <td>
                  <img src="img/bio/logo-sanofipasteur.png"/>
                  <p>Expert technique Java, Web et Flex pour la cellule architecture du groupe Sanofi – Pasteur</p>
                  <ul>
                    <li>Support technique dit de « niveau 3 »</li>
                    <li>Mise à jour des préconisations logicielles</li>
                    <li>Veille technologique</li>
                    <li>Audit des prestations logicielles</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td>Décembre 2009 à Aout 2011</td>
                <td>
                  <img src="img/bio/logo-intelligis.png"/>
                  <p>Chef de projet et architecte de la solution SIG de l’unité d’affaire</p>
                  <ul>
                    <li>Architecture de la solution</li>
                    <li>Responsable des développements</li>
                    <li>Participation à la commercialisation de l’offre</li>
                  </ul>
                  <p>Technologies : Java EE, Spring, JPA, Hibernate, Granite DS, Flex, Eclipse, Maven, Tomcat, ArcGis Server</p>
                </td>
              </tr>
              <tr>
                <th><img alt="Atos Worldline" src="img/bio/logo-atosworldline.png"/></th>
                <th><h2>Architecte / Expert / Chef de projet</h2></th>
              </tr>
              <tr>
                <td>Novembre 2008 à Décembre 2009</td>
                <td>
                  <p>Référent technique au sein de l'unité d'affaire</p>
                  <ul>
                    <li>Référent technique, conception et conseils pour les avants ventes et les projets en cours</li>
                    <li>Responsable de la qualité logicielle</li>
                    <li>Travail à l'industrialisation des développements de l'entreprise</li>
                    <li>Participation aux projets de la division Offres & Développements dans les domaines des frameworks Java EE, du CMS et de la Mobilité</li>
                  </ul>
                  <p>Technologies : Eclipse, Java EE, Maven, JavaScript, Tapestry, Tomcat, Lutèce, Spring, Hibernate, JPA</p>
                </td>
              </tr>
              <tr>
                <td>Avril 2007 à Décembre 2009 (1 jour par semaine)</td>
                <td>
                  <img src="img/bio/logo-archetype.png"/>
                  <img src="img/bio/logo-developpez.png"/>
                  <p>Expert technique dans un groupe dédié à l'innovation technologique</p>
                  <ul>
                    <li>Veille technologique dans les domaines du Java et du Web</li>
                    <li>Prise en charge de formations pour les collaborateurs de la société : JavaScript, Maven (<a href="http://matthieu-lux.developpez.com">http://matthieu-lux.developpez.com</a>)</li>
                    <li>Participation aux développements de framework Open Source</li>
                  </ul>
                  <p>Technologies : Eclipse, Maven, Tapestry, Erlang, Yaws, Archetype, Prototype, jQuery</p>
                </td>
              </tr>
              <tr>
                <td>Novembre 2007 à Octobre 2008</td>
                <td>
                  <img src="img/bio/logo-meteofrance.png"/>
                  <p>Architecte logiciel du projet de refonte du site Web <a href="http://www.meteofrance.fr/">http://www.meteofrance.fr/</a></p>
                  <ul>
                    <li>Chargé de la conception générale de la plateforme logicielle et technique</li>
                    <li>Mise en place des solutions logicielles</li>
                    <li>Support technique pour toute l'équipe de développement</li>
                    <li>Responsable de la qualité logicielle et des performances</li>
                  </ul>
                  <p>Technologies : Java EE, Eclipse, Maven, Spring, Hibernate, Tapestry, Lutèce, Quartz, Xfire, Prototype, DWR</p>
                </td>
              </tr>
              <tr>
                <td>Aout 2006</td>
                <td>
                  <img src="img/bio/logo-geoportail.png"/>
                  <p>Intervention sur les problématiques Web 2.0 sur le projet Géoportail <a href="http://www.geoportail.fr/">http://www.geoportail.fr/</a></p>
                  <ul>
                    <li>Ajout de fonctionnalités</li>
                    <li>Support technique JavaScript</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td>Février 2005 à Novembre 2007</td>
                <td>
                  <img src="img/bio/logo-laposte.png"/>
                  <p>Développeur puis chef de projet sur une expérimentation pour le groupe La Poste pour doter ses facteurs de terminaux mobiles</p>
                  <ul>
                    <li>Gestion d'un projet informatique et de la relation client</li>
                    <li>Développement d'un service aux fonctionnalités variées : Web, XML et TCP</li>
                    <li>Développement d'une application mobile</li>
                  </ul>
                  <p>Technologies côté serveur : Java EE, Eclipse, Web 2.0, Prototype, DWR<br/>Technologies application mobile : .net Compact Framework, Open Net CF</p>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </section>
		  
      <section id="about">
        <div class="row">
          <div class="span12">
            <div class="page-header">
              <h1>A propos <small>du site</small></h1>  
            </div>
          </div>
        </div>
        <div class="row">
          <div class="span12">
            <p>Ce site n'est pas motivé par un égocentrisme exacerbé mais a simplement pour but de centraliser les différents travaux que j'ai mené et qui sont pubié sur Internet.</p>
            <p>Pour la forme, étant un développeur Web, j'ai tenté de faire un site propre et clair avec des technologies modernes, j'ai donc utilisé Twitter Bootstrap. Je n'ai par contre aucune prédisposition graphique, je me contente donc ici du design standard.</p>
          </div>
        </div>
      </section>

      <hr>

      <footer>
        <p>Créé avec GitHub Pages et Twitter Bootstrap</p>
      </footer>

    </div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="bootstrap/js/underscore.min.js"></script>
    <script src="bootstrap/js/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="index.js"></script>
  </body>
</html>
