
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Matthieu Lux</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.0.4/css/bootstrap-combined.min.css" rel="stylesheet" />
    <link href="index.css" rel="stylesheet" />

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <!--<link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">-->


  </head>

  <body data-spy="scroll" data-target=".subnav" data-offset="50">

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <img src="http://zenika.com/images/logo-zenika.jpg" />
        <h1>Matthieu Lux</h1>
        <p>Je suis consultant Zenika dans les technologies du mon Java EE et du Web.</p>
        <p>Cette page a pour but de me présenter et de centraliser toutes les références me concernant.</p>
      </div>

      <div class="subnav">
  	    <ul class="nav nav-pills">
  	      <li><a href="#contacts">Contacts</a></li>
  	      <li><a href="#pubs">Publications</a></li>
  	      <li><a href="#typography">Open Source</a></li>
  	      <li><a href="#thumbnails">Biographie</a></li>
          <li><a href="#about">A propos</a></li>
  	    </ul>
      </div>

      <div class="row">
        <div class="span12">
          <section id="contacts">
            <div class="page-header">
              <h1>Contacts <small>Toutes les références sociales</small></h1>  
            </div>
            <table class="table table-bordered table-condensed">
              <tr>
                <th colspan="3">Les actifs</th>
              </tr>
              <tr>
                <th><img src="http://upload.wikimedia.org/wikipedia/commons/4/4e/Gmail_Icon.png" height="30" /></th>
                <td><a href="mailto:">matthieu dot lux at gmail dot com</a></td>
                <td>Encore aujourd'hui le meilleur moyen de me contacter</td>
              </tr>
              <tr>
                <th><img src="http://upload.wikimedia.org/wikipedia/commons/4/4e/Gmail_Icon.png" height="30" /></th>
                <td><a href="mailto:">matthieu dot lux at zenika dot com</a></td>
                <td>Et la version pro</td>
              </tr>
              <tr>
                <th><img src="https://twitter.com/images/resources/twitter-bird-light-bgs.png" height="30" /></th>
                <td><a href="https://twitter.com/Swiip" target="_blank">@Swiip</a></td>
                <td>J'y publie au jour le jour les humeurs d'un développeur</td>
              </tr>
              <tr>
                <th><img src="https://raw.github.com/github/media/master/octocats/octocat.png" height="30" /></th>
                <td><a href="https://github.com/Swiip" target="_blank">Swiip</a></td>
                <td>J'y publie toutes mes sources</td>
              </tr>
              <tr>
                <th><img src="http://upload.wikimedia.org/wikipedia/commons/thumb/4/46/Generic_Feed-icon.svg/200px-Generic_Feed-icon.svg.png" height="30" /></th>
                <td><a href="http://pipes.yahoo.com/swiip/articles" target="_blank">Articles</a></td>
                <td>Je n'ai pas de blogs peronnel mais ce flux rassemble les articles que je publie</td>
              </tr>
              <tr>
                <th><img src="http://corporate.viadeo.com/fr/files/2011/11/Viadeo_favicon_300dpi_RGB.jpg" height="30" /></th>
                <td><a href="http://www.viadeo.com/profile/0021ifs5qqflshmz/fr" target="_blank">Matthieu Lux</a></td>
                <td>J'y tiens à jour mon parcours</td>
              </tr>
              <tr>
                <th colspan="3">Les moins actifs</th>
              </tr>
              <tr>
                <th>
                  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Facebook_Logo_Mini.svg/200px-Facebook_Logo_Mini.svg.png"  height="30" />
                </th>
                <td><a href="https://www.facebook.com/matthieu.lux.9" target="_blank">Matthieu Lux</a></td>
                <td>L'incontournable</td>
              </tr>
              <tr>
                <th><img src="http://press.linkedin.com/sites/all/themes/presslinkedin/images/LinkedIn_IN_Icon_55px.png" height="30" /></th>
                <td><a href="http://www.linkedin.com/profile/view?id=27741395&trk=tab_pro" target="_blank">Matthieu Lux</a></td>
                <td>Je l'utilise très peu</td>
              </tr>
              <tr>
                <th><img src="http://bitbucket-assets.s3.amazonaws.com/img/logo_new.png" height="30" /></th>
                <td><a href="https://bitbucket.org/Swiip" target="_blank">Swiip</td>
                <td>Ayant utilisé Mercurial avant Git, il me reste des ressources sur Bitbucket</td>
              </tr>
              <tr>
                <th><img src="http://www.destination-webmarketing.fr/wp-content/uploads/2012/05/GooglePlus-new_logo.png" height="30" /></th>
                <td><a href="https://plus.google.com/u/0/114267295816087906296/posts" target="_blank">Matthieu Lux</td>
                <td>Je l'utilise très peu</td>
              </tr>
            </table>
          </section>
        </div>
      </div>

      <section id="pubs">
        <div class="row">
          <div class="span12">
            <div class="page-header">
              <h1>Publications <small>Twitter et articles</small></h1>  
            </div>
          </div>
        </div>
        <div class="row">
          <div class="span6 tweet">
            <script id="twitter-template" type="text/x-undrescore-tmpl">
              <table class="table">
                <th colspan="2">Twitter</th>
                <% _.each(data, function(tweet) { %>
                  <tr>
                    <td><img src="<%= tweet.user.profile_image_url %>"></td>
                    <td><%= tweet.text %></td>
                  </tr>
                <% }); %>
              </table>
            </script>
          </div>
          <div class="span6 rss"></div>
        </div>
      </section>

      <div class="row">
      	<div class="span12">
      	  
		      
          
          
      	  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ante purus, interdum ac sagittis nec, adipiscing et lorem. Nulla facilisi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed tincidunt ipsum in risus lobortis sagittis. Cras vitae nisi a lacus viverra feugiat. Donec volutpat sollicitudin porta. Vestibulum lectus mauris, sollicitudin non lacinia in, facilisis in elit.</p>
      	  <p>Etiam mauris massa, aliquet id dapibus eget, congue ac felis. Donec porttitor dignissim mauris ut luctus. Vivamus viverra eros pellentesque dolor vehicula vulputate. In venenatis dui sed nisi mollis cursus. Morbi a ante ut nisl lacinia pellentesque at et mauris. Fusce mattis nunc nec arcu lobortis rhoncus. Phasellus felis sapien, varius nec consectetur in, accumsan sit amet turpis. Aliquam nibh dolor, aliquet id bibendum suscipit, aliquam eu elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed rhoncus elementum mi, at dignissim erat condimentum in. Etiam tempus, turpis gravida rutrum mollis, lacus sapien ornare nisl, nec pulvinar diam velit at ligula. Duis ultrices fringilla elementum. Duis id nunc lacus, sed consequat sem. Curabitur aliquet malesuada vehicula. Quisque ut laoreet arcu.</p>
          <a id="typography"></a>
      	  <p>Phasellus dictum blandit enim sed facilisis. Sed quis turpis ac felis placerat porta a sed leo. Aliquam at interdum nisi. Proin ornare consectetur leo eu aliquam. Aenean laoreet sollicitudin euismod. Suspendisse accumsan pulvinar adipiscing. Pellentesque ante nisl, vulputate vitae semper eget, aliquet et urna. Praesent at suscipit magna. In at sem sit amet mauris porta tincidunt quis a enim. Ut in metus orci, ac fringilla nulla.</p>
      	  <p>Aliquam in accumsan eros. Pellentesque turpis augue, blandit et condimentum a, venenatis a nibh. Aenean ac nunc vitae sem pharetra feugiat. In eget aliquam enim. Aenean porttitor bibendum nibh id pellentesque. Sed molestie, leo ut facilisis pharetra, arcu lectus interdum orci, eget commodo nisl tellus sit amet ipsum. Quisque et massa at urna dictum dapibus eu in turpis. Nulla congue fringilla massa. Suspendisse faucibus nulla eu arcu ultricies at vehicula mauris posuere. Praesent ac eros tellus.</p>
      	  <p>Praesent mollis diam nec enim aliquam et convallis diam condimentum. Praesent convallis molestie dui, sed venenatis velit condimentum id. Sed ut libero nisi. Sed tincidunt tincidunt diam, sed ullamcorper turpis faucibus non. Suspendisse potenti. Pellentesque aliquet aliquet mi commodo tincidunt. Suspendisse imperdiet dictum nibh, eget luctus metus fermentum a. Donec nec porta arcu.</p>
          <a id="thumbnails"></a>
      	  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ante purus, interdum ac sagittis nec, adipiscing et lorem. Nulla facilisi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed tincidunt ipsum in risus lobortis sagittis. Cras vitae nisi a lacus viverra feugiat. Donec volutpat sollicitudin porta. Vestibulum lectus mauris, sollicitudin non lacinia in, facilisis in elit.</p>
      	  <p>Etiam mauris massa, aliquet id dapibus eget, congue ac felis. Donec porttitor dignissim mauris ut luctus. Vivamus viverra eros pellentesque dolor vehicula vulputate. In venenatis dui sed nisi mollis cursus. Morbi a ante ut nisl lacinia pellentesque at et mauris. Fusce mattis nunc nec arcu lobortis rhoncus. Phasellus felis sapien, varius nec consectetur in, accumsan sit amet turpis. Aliquam nibh dolor, aliquet id bibendum suscipit, aliquam eu elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed rhoncus elementum mi, at dignissim erat condimentum in. Etiam tempus, turpis gravida rutrum mollis, lacus sapien ornare nisl, nec pulvinar diam velit at ligula. Duis ultrices fringilla elementum. Duis id nunc lacus, sed consequat sem. Curabitur aliquet malesuada vehicula. Quisque ut laoreet arcu.</p>
      	  <p>Phasellus dictum blandit enim sed facilisis. Sed quis turpis ac felis placerat porta a sed leo. Aliquam at interdum nisi. Proin ornare consectetur leo eu aliquam. Aenean laoreet sollicitudin euismod. Suspendisse accumsan pulvinar adipiscing. Pellentesque ante nisl, vulputate vitae semper eget, aliquet et urna. Praesent at suscipit magna. In at sem sit amet mauris porta tincidunt quis a enim. Ut in metus orci, ac fringilla nulla.</p>
      	  <p>Aliquam in accumsan eros. Pellentesque turpis augue, blandit et condimentum a, venenatis a nibh. Aenean ac nunc vitae sem pharetra feugiat. In eget aliquam enim. Aenean porttitor bibendum nibh id pellentesque. Sed molestie, leo ut facilisis pharetra, arcu lectus interdum orci, eget commodo nisl tellus sit amet ipsum. Quisque et massa at urna dictum dapibus eu in turpis. Nulla congue fringilla massa. Suspendisse faucibus nulla eu arcu ultricies at vehicula mauris posuere. Praesent ac eros tellus.</p>
      	  <p>Praesent mollis diam nec enim aliquam et convallis diam condimentum. Praesent convallis molestie dui, sed venenatis velit condimentum id. Sed ut libero nisi. Sed tincidunt tincidunt diam, sed ullamcorper turpis faucibus non. Suspendisse potenti. Pellentesque aliquet aliquet mi commodo tincidunt. Suspendisse imperdiet dictum nibh, eget luctus metus fermentum a. Donec nec porta arcu.</p>
          <a id="about"></a>
      	  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ante purus, interdum ac sagittis nec, adipiscing et lorem. Nulla facilisi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed tincidunt ipsum in risus lobortis sagittis. Cras vitae nisi a lacus viverra feugiat. Donec volutpat sollicitudin porta. Vestibulum lectus mauris, sollicitudin non lacinia in, facilisis in elit.</p>
      	  <p>Etiam mauris massa, aliquet id dapibus eget, congue ac felis. Donec porttitor dignissim mauris ut luctus. Vivamus viverra eros pellentesque dolor vehicula vulputate. In venenatis dui sed nisi mollis cursus. Morbi a ante ut nisl lacinia pellentesque at et mauris. Fusce mattis nunc nec arcu lobortis rhoncus. Phasellus felis sapien, varius nec consectetur in, accumsan sit amet turpis. Aliquam nibh dolor, aliquet id bibendum suscipit, aliquam eu elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed rhoncus elementum mi, at dignissim erat condimentum in. Etiam tempus, turpis gravida rutrum mollis, lacus sapien ornare nisl, nec pulvinar diam velit at ligula. Duis ultrices fringilla elementum. Duis id nunc lacus, sed consequat sem. Curabitur aliquet malesuada vehicula. Quisque ut laoreet arcu.</p>
      	  <p>Phasellus dictum blandit enim sed facilisis. Sed quis turpis ac felis placerat porta a sed leo. Aliquam at interdum nisi. Proin ornare consectetur leo eu aliquam. Aenean laoreet sollicitudin euismod. Suspendisse accumsan pulvinar adipiscing. Pellentesque ante nisl, vulputate vitae semper eget, aliquet et urna. Praesent at suscipit magna. In at sem sit amet mauris porta tincidunt quis a enim. Ut in metus orci, ac fringilla nulla.</p>
      	  <p>Aliquam in accumsan eros. Pellentesque turpis augue, blandit et condimentum a, venenatis a nibh. Aenean ac nunc vitae sem pharetra feugiat. In eget aliquam enim. Aenean porttitor bibendum nibh id pellentesque. Sed molestie, leo ut facilisis pharetra, arcu lectus interdum orci, eget commodo nisl tellus sit amet ipsum. Quisque et massa at urna dictum dapibus eu in turpis. Nulla congue fringilla massa. Suspendisse faucibus nulla eu arcu ultricies at vehicula mauris posuere. Praesent ac eros tellus.</p>
      	  <p>Praesent mollis diam nec enim aliquam et convallis diam condimentum. Praesent convallis molestie dui, sed venenatis velit condimentum id. Sed ut libero nisi. Sed tincidunt tincidunt diam, sed ullamcorper turpis faucibus non. Suspendisse potenti. Pellentesque aliquet aliquet mi commodo tincidunt. Suspendisse imperdiet dictum nibh, eget luctus metus fermentum a. Donec nec porta arcu.</p>
      	  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ante purus, interdum ac sagittis nec, adipiscing et lorem. Nulla facilisi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed tincidunt ipsum in risus lobortis sagittis. Cras vitae nisi a lacus viverra feugiat. Donec volutpat sollicitudin porta. Vestibulum lectus mauris, sollicitudin non lacinia in, facilisis in elit.</p>
      	  <p>Etiam mauris massa, aliquet id dapibus eget, congue ac felis. Donec porttitor dignissim mauris ut luctus. Vivamus viverra eros pellentesque dolor vehicula vulputate. In venenatis dui sed nisi mollis cursus. Morbi a ante ut nisl lacinia pellentesque at et mauris. Fusce mattis nunc nec arcu lobortis rhoncus. Phasellus felis sapien, varius nec consectetur in, accumsan sit amet turpis. Aliquam nibh dolor, aliquet id bibendum suscipit, aliquam eu elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed rhoncus elementum mi, at dignissim erat condimentum in. Etiam tempus, turpis gravida rutrum mollis, lacus sapien ornare nisl, nec pulvinar diam velit at ligula. Duis ultrices fringilla elementum. Duis id nunc lacus, sed consequat sem. Curabitur aliquet malesuada vehicula. Quisque ut laoreet arcu.</p>
      	  <p>Phasellus dictum blandit enim sed facilisis. Sed quis turpis ac felis placerat porta a sed leo. Aliquam at interdum nisi. Proin ornare consectetur leo eu aliquam. Aenean laoreet sollicitudin euismod. Suspendisse accumsan pulvinar adipiscing. Pellentesque ante nisl, vulputate vitae semper eget, aliquet et urna. Praesent at suscipit magna. In at sem sit amet mauris porta tincidunt quis a enim. Ut in metus orci, ac fringilla nulla.</p>
      	  <p>Aliquam in accumsan eros. Pellentesque turpis augue, blandit et condimentum a, venenatis a nibh. Aenean ac nunc vitae sem pharetra feugiat. In eget aliquam enim. Aenean porttitor bibendum nibh id pellentesque. Sed molestie, leo ut facilisis pharetra, arcu lectus interdum orci, eget commodo nisl tellus sit amet ipsum. Quisque et massa at urna dictum dapibus eu in turpis. Nulla congue fringilla massa. Suspendisse faucibus nulla eu arcu ultricies at vehicula mauris posuere. Praesent ac eros tellus.</p>
      	  <p>Praesent mollis diam nec enim aliquam et convallis diam condimentum. Praesent convallis molestie dui, sed venenatis velit condimentum id. Sed ut libero nisi. Sed tincidunt tincidunt diam, sed ullamcorper turpis faucibus non. Suspendisse potenti. Pellentesque aliquet aliquet mi commodo tincidunt. Suspendisse imperdiet dictum nibh, eget luctus metus fermentum a. Donec nec porta arcu.</p>
      	  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ante purus, interdum ac sagittis nec, adipiscing et lorem. Nulla facilisi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed tincidunt ipsum in risus lobortis sagittis. Cras vitae nisi a lacus viverra feugiat. Donec volutpat sollicitudin porta. Vestibulum lectus mauris, sollicitudin non lacinia in, facilisis in elit.</p>
      	  <p>Etiam mauris massa, aliquet id dapibus eget, congue ac felis. Donec porttitor dignissim mauris ut luctus. Vivamus viverra eros pellentesque dolor vehicula vulputate. In venenatis dui sed nisi mollis cursus. Morbi a ante ut nisl lacinia pellentesque at et mauris. Fusce mattis nunc nec arcu lobortis rhoncus. Phasellus felis sapien, varius nec consectetur in, accumsan sit amet turpis. Aliquam nibh dolor, aliquet id bibendum suscipit, aliquam eu elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed rhoncus elementum mi, at dignissim erat condimentum in. Etiam tempus, turpis gravida rutrum mollis, lacus sapien ornare nisl, nec pulvinar diam velit at ligula. Duis ultrices fringilla elementum. Duis id nunc lacus, sed consequat sem. Curabitur aliquet malesuada vehicula. Quisque ut laoreet arcu.</p>
      	  <p>Phasellus dictum blandit enim sed facilisis. Sed quis turpis ac felis placerat porta a sed leo. Aliquam at interdum nisi. Proin ornare consectetur leo eu aliquam. Aenean laoreet sollicitudin euismod. Suspendisse accumsan pulvinar adipiscing. Pellentesque ante nisl, vulputate vitae semper eget, aliquet et urna. Praesent at suscipit magna. In at sem sit amet mauris porta tincidunt quis a enim. Ut in metus orci, ac fringilla nulla.</p>
      	  <p>Aliquam in accumsan eros. Pellentesque turpis augue, blandit et condimentum a, venenatis a nibh. Aenean ac nunc vitae sem pharetra feugiat. In eget aliquam enim. Aenean porttitor bibendum nibh id pellentesque. Sed molestie, leo ut facilisis pharetra, arcu lectus interdum orci, eget commodo nisl tellus sit amet ipsum. Quisque et massa at urna dictum dapibus eu in turpis. Nulla congue fringilla massa. Suspendisse faucibus nulla eu arcu ultricies at vehicula mauris posuere. Praesent ac eros tellus.</p>
      	  <p>Praesent mollis diam nec enim aliquam et convallis diam condimentum. Praesent convallis molestie dui, sed venenatis velit condimentum id. Sed ut libero nisi. Sed tincidunt tincidunt diam, sed ullamcorper turpis faucibus non. Suspendisse potenti. Pellentesque aliquet aliquet mi commodo tincidunt. Suspendisse imperdiet dictum nibh, eget luctus metus fermentum a. Donec nec porta arcu.</p>
      	</div>
      </div>

      <hr>

      <footer>
        <p>&copy; Company 2012</p>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.0.4/js/jquery.js"></script>
    <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.0.4/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.3/underscore-min.js"></script>
    <script src="index.js"></script>
  </body>
</html>
