<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }} swiip.github.com</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="/styles/main.css">
        <link rel="stylesheet" href="/components/bootstrap/docs/assets/css/bootstrap.css">
        <link rel="stylesheet" href="/components/bootstrap/docs/assets/css/bootstrap-responsive.css">
        <link rel="stylesheet" href="/components/bootstrap/docs/assets/css/docs.css">
        <link rel="alternate" type="application/atom+xml" href="atom.xml" title="Atom feed">
        <script src="/components/modernizr/modernizr.js"></script>
    </head>
    <body class="swiip">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="">
                                <a href="/">Blog</a>
                            </li>
                            <li class="">
                                <a href="/about.html">About</a>
                            </li>
                            <li>
                                <a href="/talks.html">Talks</a>
                            </li>
                            <li class="">
                                <a href="/cv.html">CV</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        {{ content }}

        <footer class="footer">
            <div class="container">
                <p>Pour la forme, étant un développeur Web, j'ai tenté de faire un site propre et clair avec des technologies modernes, j'ai donc utilisé Twitter Bootstrap. Je n'ai par contre aucune prédisposition graphique, je me contente donc ici du design standard.</p>
            </div>
        </footer>

        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq=[['_setAccount','UA-39094558-1'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>

        <script src="components/jquery/jquery.js"></script>
    </body>
</html>
